@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  @include font(20px, 400);
  line-height: 26px;
  color: $paragraph;
}

a h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

a p {
  color: $paragraph;
}

h1 {
  @include font(32px, 600);
}

h2 {
  @include font(28px, 600);
}

h3 {
  @include font(28px, 500);
  color: $white;
}

h4 {
  @include font(24px, 500);
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  @include font(18px, 400);
  color: $black;
  position: relative;
  font-family: 'SolaimanLipi', Arial, sans-serif;
}

::selection {
  background-color: $themeColor;
  color: $black;
}

// common btn start
.common-btn {
  a {
    padding: 2px 24px;
    background-color: $themeColor;
    color: $black;
    @include font(20px, 500);
    transition: all linear .2s;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

// common btn with line
.common-btn-with-line {
  border-bottom: 1px solid $border;
}

// play for sm icon start
.play-for-sm {
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 14px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 28px;
    border: 4px solid $white;
    border-radius: 50%;
  }
}

// play for big icon start
.play-for-big {
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border: 5px solid $white;
    border-radius: 50%;
  }
}

// widget title start
.widget-title {
  // background-color: $gray;
  border-bottom: 4px solid $black;
  position: relative;

  h4 {
    background-color: $black;
    padding: 3px 22px;
    color: $white;

    &:hover {
      color: $themeColor;
    }

    i {
      font-size: 17px;
    }
  }
}

// line limit start
.line-limit-1 {
  @include line_limit(1 !important);
}

.line-limit-2 {
  @include line_limit(2 !important);
}

.line-limit-3 {
  @include line_limit(3 !important);
}

.line-limit-4 {
  @include line_limit(4 !important);
}

.line-limit-6 {
  @include line_limit(6 !important);
}

.line-limit-7 {
  @include line_limit(7 !important);
}

.line-limit-8 {
  @include line_limit(8 !important);
}

.line-limit-9 {
  @include line_limit(9 !important);
}

.line-limit-10 {
  @include line_limit(10 !important);
}

// minute part start